li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  margin: 5px 0;
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 5px;
  list-style: none;
}

button {
  background-color: red;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: darkred;
}

span {
  flex-grow: 1;
  cursor: pointer;
}
